/* ------------------------------
    Table
------------------------------ */
.gtbl{
    display:table;
    font-size: 12px;
    cursor: default;
    table-layout: fixed;
    position: relative;
    /*width: 100%;*/
}

.gtbl-row {
    display:table-row;
}

/*
.gtbl-row:before {
    display: table;
    content: "";
    box-sizing: border-box;
}
.gtbl-row:after {
    clear: both;
    box-sizing: border-box;
}
*/

.gtbl-row .gtbl-row-header-cell,
.gtbl-row .gtbl-value-cell,
.gtbl-row .gtbl-col-header-cell,
.gtbl-row .gtbl-header-cell {
    display:table-cell;
    /*max-width: 500px;*/
}

/*
.gtbl-row-header{

    position: sticky;
    top: 0;
    left: 0;

    z-index: 9999;

}
*/

.stick{
    position:sticky;
    top:0;
    z-index: 9999;
}


.gtbl-hidden-row-header{
    position: sticky;
    top: 0;
    /*left: 0;
    right: 0;
    */
    z-index: 9999;
    font-size: 12px;
    height: 27px;
    table-layout: fixed;
    /*width: 100%;*/
    display: table;
}

.gtbl-hidden-col-header{
    /*position: sticky;
    left: 0;*/
    z-index: 9999;
    font-size: 12px;
    width:20px;
    float: left;
    /*height: 0px;*/
    display: block;
}

.gtbl-header-cell {
    background-color: #eee;
    text-align: center;
    color: #000000;
    white-space: nowrap;
    height: 22px;
    user-select: none;
}

.gtbl-col-header-cell{
    border-top: solid 1px #aaa;
    border-right: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    padding: 4px 16px;
}

.gtbl-row-header-cell{
    border-right: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    border-left: 1px solid #aaa;
}

.gtbl-corner-cell{
    border-top: solid 1px #aaa;
    border-left: 1px solid #aaa;
    border-right: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    /*min-width: 45px;*/
    z-index: 10001;
    top:0;
    left:0;
}

.node-container{
    display: table-row-group;
}

.gtbl-value-cell{

    border-top-width: 0;
    border-left-width: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 22px;
    empty-cells: show;
    line-height: 21px;
    padding: 0 4px;
    background-color: #fff;
    vertical-align: top;
    overflow: hidden;
    outline-width: 0;

    white-space: pre-wrap;
    /*
    overflow-wrap: break-word;
    word-break: break-word;
    */
    user-select: none;
    background-clip: padding-box;
}

.current {
    outline: 2px solid #7000ff;
    outline-offset: -1px;
}

.row-highlight{
    background-color: #ddd;
}

.selectable{
    outline: 2px solid red !important;
    outline-offset: -1px;
    user-select: text;
}

.highlight{
    background-color: rgb(112, 0, 255,0.1);
}