a{
    color: black;
}

a:hover,
a:focus{
    text-decoration: underline;
}

.gtbl-viewport{
    position: relative;
    overflow: auto;
}

.gtbl-container{
    display:inline-block;
}

.gtbl{
    display:table;
    font-size: 12px;
    table-layout: fixed;
    position: relative;
    width: 0;
}

.gtbl-row {
    display:table-row;
}

.gtbl-row .gtbl-row-header-cell,
.gtbl-row .gtbl-value-cell,
.gtbl-row .gtbl-col-header-cell,
.gtbl-row .gtbl-header-cell {
    display:table-cell;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:Verdana,Arial,sans-serif
}

.gtbl-row-header{
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 12px;
    height: 27px;
    table-layout: fixed;
    display: table;
    width: 0;
}


.gtbl-header-cell {
    background-color: #eee;
    text-align: center;
    color: #000000;
    white-space: nowrap;
}

.gtbl-col-header-cell{
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 4px 4px;
    overflow: hidden;
    position:sticky;
    top:0;
    z-index: 1000;
}

.gtbl-row-header-cell{
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
    user-select: none;
    position: sticky;
    left:0;
    z-index: 900;
}

.gtbl-corner-cell{
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    z-index: 10001;
    top:0;
    left:0;
    position:sticky;
}

.node-container{
    display: table-row-group;
}

.gtbl-value-cell{
    border-top-width: 0;
    border-left-width: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 21px;
    padding: 0 4px;
    background-color: #fff;
    vertical-align: top;
    overflow: hidden;
    outline-width: 0;
    white-space: pre;
    user-select: none;
}

.current {
    outline: 2px solid #7000ff;
    outline-offset: -1px;
}

.row-highlight{
    background-color: #ddd;
}

.selectable{
    user-select: text;
    outline: 1px solid #7000ff;
    outline-offset: -1px;
}

.highlight{
    background-color: rgb(112, 0, 255,0.1);
}

.sort-link{
    cursor: pointer;
}

.col-slidebar{
    cursor: col-resize;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.col-slidebar:hover{
    cursor:col-resize;
    border-right:1px solid red;
    border-left:1px solid red;
    padding:0;
    margin:0;
}

.row-slidebar{
    cursor: row-resize;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.row-slidebar:hover{
    cursor:row-resize;
    border-top:1px solid red;
    border-bottom:1px solid red;
    padding:0;
    margin:0;
}

.noselect{
    user-select: none;
}

.focus-holder,
.input-holder{
    position: fixed;
    top: -100px;
    left: -100px;
}

.cell-editor{
    border: none;
    padding: 0px 4px;
    resize: none;
    outline: none;
    line-height: 21px;
    font-family:Verdana,Arial,sans-serif;
    font-size: 12px;
    overflow: hidden;
    white-space: pre;
    display: block;
    box-sizing: border-box;
    position:relative;
    z-index: 800;
}

.row-number{
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 3px;
    width: 100%;
    height: 100%;
}

.dialog{
    visibility: hidden;
    display: flex;
    position: absolute;
    height: 0px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #ccc;
    justify-content: left;
    align-items: center;
    z-index: 9999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 1px 3px 6px rgb(0 0 0 / 13%);
    transition-property: height;
    transition-duration: 0.15s;
}

.dialog.open{
    visibility: visible;
    height:40px;
}

.dialog-txt {
    display: none;
    height: 25px;
    margin: 5px 0 5px 10px;
    outline: none;
    border: none;
    resize: none;
    font-size: 12px;
    font-family: Verdana,Arial,sans-serif;
    line-height: 1.8;
    overflow: hidden;
    white-space: nowrap;
}

.dialog.open .dialog-txt{
    display: block;
}

.search-result{
    display: none;
    font-size: 13px;
    font-family: Verdana,Arial,sans-serif;
    color: #888;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
}

.dialog.open .search-result{
    display: block;
}

.found{
    color: red;
}
