<div id="apexArea">
	<div class="form-area execute-anonymous-form">
		<div>
			<textarea id="apexCode" class="code-input" spellcheck="false" cols="120" rows="5"></textarea>
		</div>
		<div>
			<button type="button" id="executeAnonymousBtn" class="btn btn-sm btn-primary">Execute Anonymous</button>
			<button type="button" id="debugOptionBtn" class="btn btn-xs btn-default">Debug options</button>
		</div>
		<div id="debugOptions">
		</div>
		<p><div class="message-area"></div></p>
	</div>

	<div class="tab-area">
		<button type="button" class="btn btn-xs btn-default export">Export</button>
		<ul id="apexTabs">
			<li class="add-tab-li">
				<div class="add-tab-btn icon-plus"></div>
			</li>
		</ul>
	</div>
</div>