<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
	<head>
		<link rel="stylesheet" media="all" href="../css/common.css"/>
		<link rel="stylesheet" media="all" href="../css/main.css"/>
		<link rel="stylesheet" media="all" href="../css/soql.css">
		<link rel="stylesheet" media="all" href="../css/apex.css">
		<link rel="stylesheet" media="all" href="../css/GridTable.css">
		<link rel="stylesheet" media="all" href="../css/tab.css">
		<script src="../js/jquery-1.11.2.min.js"></script>
		<script type="module" src="../main.js"></script>
		<script src="../js/ajaxUtils.js"></script>
		<script src="../lib/GridTable.js"></script>
		<script src="../lib/tab.js"></script>
	</head>
	<body>
		<div id="mainArea" class="soql">

		    <div id="overlay" class="requesting-overlay">
		        <div id="overlayContent" class="overlay-content noselect">Requesting...</div>
		        <div class="loader"></div>
		    </div>

		    <div class="header">
		        <div id="progress">
		          <div id="progress-line" class="progress-line"></div>
		        </div>

		        <div id="menuList">
					<div id="userList" class="user-list">
						<button id="username" class="btn dropdown-btn" type="button"></button>
						<ul id="dropdownMenu" class="dropdown-menu">
						</ul>
					</div>
		            <ul id="menus">
		                <li><a id="soql" href="javascript:void(0)" class="menu-item displayed">SOQL</a></li>
		                <li><a id="apex" href="javascript:void(0)" class="menu-item">Apex</a></li>
		            </ul>
		        </div>
		    </div>

		    <div class="contentsArea">

        		<div id="soqlContent">
                    <div id="soqlHistory" class="sidenav">
            			<div class="tbl soql-history-title noselect">
            				<div class="row"><button id="closeHistoryBtn" class="closebtn noselect">&times;</button></div>
            				<div class="row">SOQL History</div>
            			</div>
            			<div class="soql-list">
            				<ul></ul>
            			</div>
            		</div>

            		<div id="soqlArea">
            			<div class="form-area soql-form">
            				<div>
            					<textarea id="inputSoql" class="code-input" spellcheck="false" cols="120" rows="5">select id,name,MailingPostalCode, MailingState,MailingCity, MyExtID__c,MailingStreet from contact</textarea>
            				</div>
            				<div>
            					<button type="button" id="executeSoqlBtn" class="btn btn-main">Execute</button>
								<button type="button" id="test" class="btn btn-main">Test</button>
            					<label class="soql-options"><input type="checkbox" id="useTooling"/> Use Tooling API</label>
            				</div>
							<div class="message-area"><div class="message"></div></div>
            			</div>
            			<div id="soqlTabArea" class="tab-area">
							<button type="button" id="soqlHistoryBtn" class="btn btn-sub">History</button>
							<button type="button" class="btn btn-sub export">Export</button>
            			</div>
            		</div>
            	</div>

		        <div id="apexContent">
					<div id="apexArea">
						<div class="form-area execute-anonymous-form">
							<div>
								<textarea id="apexCode" class="code-input" spellcheck="false" cols="120" rows="5">string x = 'a'; system.debug(x);</textarea>
							</div>
							<div>
								<button type="button" id="executeAnonymousBtn" class="btn btn-main">Execute Anonymous</button>
							</div>
							<div class="message-area"><div class="message"></div></div>
						</div>

						<div id="apexTabArea" class="tab-area">
							<button type="button" class="btn btn-sub export">Export</button>
						</div>
					</div>
		        </div>

		    </div>
		</div>
	</body>
</html>