
<html>
	<head>
		<link rel="stylesheet" media="all" href="./css/soql.css">
		<script src="./js/soql.js"></script>
	</head>
	<body>
		<div id="soqlHistory" class="sidenav">
			<div class="tbl soql-history-title noselect">
				<div class="row"><button class="closebtn noselect">&times;</button></div>
				<div class="row">SOQL History</div>
			</div>
			<div class="soql-list">
				<ul></ul>
			</div>
		</div>

		<div id="soqlArea">

			<div class="form-area soql-form">
				<div>
					<textarea id="inputSoql" class="code-input" spellcheck="false" cols="120" rows="5"></textarea>
				</div>
				<div>
					<button type="button" id="executeSoqlBtn" class="btn btn-sm btn-primary">Execute</button>
					<label class="soql-options"><input type="checkbox" id="useTooling"/> Use Tooling API</label>
					<label class="soql-options"><input type="checkbox" id="queryAll"/> Query all</label>
				</div>		
				<p><div class="message-area"></div></p>
			</div>
			
			<div class="tab-area">
				<ul id="soqlTabs">
					<li class="add-tab-li">
						<div class="add-tab-btn icon-plus"></div>
					</li>
				</ul>
			</div>	
		</div>
	</body>
</html>